[Unit]
Description=Smart Device Link Core
After=bluetooth.service
Requires=bluetooth.service

[Service]
Environment="SDL_LOG4CXX_PROPERTIES_FILE=/etc/smartdevicelink/log4cxx.properties"
StandardOutput=journal
StandardError=journal
ExecStart=/usr/bin/smartDeviceLinkCore /etc/smartdevicelink/smartDeviceLink.ini
ExecStop=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
